.custom {
  width: 120px !important;
}

.row {
    display: flex;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

@media (-webkit-device-pixel-ratio: 1.25) {
  * {
    zoom: 98%;
  }
}
